body {
    background-color: #acd;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 16px;
    margin: 10px;
}
a {
    color: #000000;
}

a:visited {
    color: #ffffc9;
}

a:hover {
    color: #792acc;
}

.navbar{
    background-color:#1ac;
    border-bottom: #999;
    border-left:#999;
    border-width: 0 0 thin thin;
    border-style: none none groove groove;
    display:block;
    display:inline table;
    float: center;
    margin: 1 10 0 10px;

    padding: 0 10px 0 10px;
    width:200px;
}

.hdlogin{
    background-color:#ccc;
    border-bottom: #999;
    border-left:#999;
}
.nav-header-main{
    background-color:#ccc;
    border-bottom: #999;
    border-left:#999;

}
.signup{
    <!--background-color:#ccc; -->
    border-bottom: #999;
    border-left:#999;
}

.navbarButton{
    width:auto;
    margin-left:4%;
    margin-right: 4%;
    margin-top: 9px;
    padding:0px;
    cursor:pointer;]
}
